.message-area {
  height: 400px; /* Set a fixed height for the chat area */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  /* background-color: #f8f9fa; */
}

.no-messages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #f9ecf3;
  font-style: italic;
  font-size: 2rem;
}
